.reigning-champ-container {
  background-color: rgba(128, 128, 128, 0.2);
  border-radius: 15px;
}

.reigning-champ-image {
  background-image: url("/assets/ofirRachelPNG.png");
  background-size: cover;
  background-position: top;
  height: 35rem;
  width: 100%;
  border-radius: 15px;
}

.reigning-champ-title {
  color: rgb(175, 149, 1);
  -webkit-text-stroke: 0.2px black;
}

@media (min-width: 375px) and (max-width: 991px) {
  .reigning-champ-image {
    background-position: top;
  }
}
