.bracket-scroll-wrapper {
  width: 100%;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  background: linear-gradient(#000 0%, #1d1d1d 50%, #000 100%);
  background-color: black;
  height: calc(100vh);
}

.bracket-scroll-content {
  width: max-content;
}

.bracket-shell {
  background-color: transparent;
  color: #ddd;
  padding: 24px;
  font-family: sans-serif;
}

.header-row,
.match-row {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 200px;
  column-gap: 32px;
}

.round1-column {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.losers-headers {
  margin-top: 48px;
}

.column-header {
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  color: #aaa;
  margin-bottom: 16px;
}

/* each match “box” */
.match-cell {
  background: #2e2e3e;
  border-radius: 4px;
  padding: 8px;
  position: relative;
  min-height: 64px;
  max-height: 85px;
  box-shadow: 0 0 5px 0.01px #c09700;
}

.lower-match-col {
  height: 69px;
  margin-top: 50px;
}

.lower-match-col2 {
  height: 69px;
  margin-top: 100px;
}

.lower-match-col3 {
  height: 69px;
  margin-top: 150px;
}

.lower-match-col4 {
  height: 69px;
  margin-top: 200px;
}

.lower-match-col5 {
  height: 69px;
  margin-top: 250px;
}

.single-cell {
  height: 69px;
}

.match-cell.no-dash::after {
  display: none;
}

.match-cell::after {
  content: "→";
  position: absolute;
  top: 50%;
  right: -20px;
  transform: translateY(-50%);
  font-size: 16px;
  color: #fff;
  line-height: 1;
}

.match-cell.lower-line::after {
  content: "→";
  position: absolute;
  top: 80%;
  right: -20px;
  transform: translateY(-50%);
  font-size: 16px;
  color: #fff;
  line-height: 1;
}

.match-cell.lower-line.angle-down45::after {
  transform: translateY(-50%) rotate(45deg);
}

.match-cell.upper-line::after {
  content: "→";
  position: absolute;
  top: 20%;
  right: -20px;
  transform: translateY(-50%);
  font-size: 16px;
  color: #fff;
  line-height: 1;
}

.match-cell.upper-line.angle-up45::after {
  transform: translateY(-50%) rotate(-45deg);
}

.match-cell.upper-line.angle-up65::after {
  transform: translateY(-50%) rotate(-65deg);
}

.match-cell.upper-line.angle-up90::after {
  transform: translateY(-50%) rotate(-90deg);
}

.team-input {
  width: 100%;
  background: #3a3a4a;
  border: none;
  border-radius: 2px;
  color: #fff;
  padding: 4px 8px;
  margin-bottom: 4px;
  font-size: 13px;
  box-sizing: border-box;
  cursor: default;
}

.team-input:last-child {
  margin-bottom: 0;
}

.match-number {
  font-size: 13px;
  display: block;
  cursor: default;
}

.match-cell.placeholder {
  visibility: hidden;
}

.match-cell.placeholder::after {
  display: none;
}

.player-grid {
  display: grid;
  grid-template-columns: repeat(3, auto);
  justify-content: space-around;
  gap: 8px;
  padding: 10px;
  margin-bottom: 16px;
  border: 1px solid black;
  background: linear-gradient(
    30deg,
    #c09700 0%,
    #c09700 49.675%,
    #000 49.7%,
    #000 49.8%,
    white 49.825%,
    white 50%,
    #000 50.225%,
    #000 100%
  );
  border-radius: 7.5px;
}

.picker-glass {
  padding: 0.3em;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0);
  backdrop-filter: blur(4px);
  color: #fff;
  font-weight: bold;
}

.ant-checkbox-inner {
  background-color: #000 !important;
  border-color: #fff !important;
}

.ant-checkbox-checked .ant-checkbox-inner {
  background-color: #000 !important;
  border-color: #c09700 !important;
}

.ant-checkbox-checked .ant-checkbox-inner::after {
  border-color: #c09700 !important;
}

.ant-modal .ant-radio-inner {
  background-color: #fff !important;
  border-color: #000 !important;
}

.ant-modal .ant-radio-checked .ant-radio-inner {
  background-color: #000 !important;
  border-color: #c09700 !important;
}

.ant-modal .ant-radio-checked .ant-radio-inner::after {
  background-color: #c09700 !important;
}

.cancel-nvrmind-btn:hover {
  color: #c09700 !important;
  border: 1px solid #c09700 !important;
}

.got-it-btn {
  background-color: #c09700 !important;
  border: 1px solid #000 !important;
  color: #000;
}

.got-it-btn:hover {
  background-color: #000 !important;
  border: 1px solid #c09700 !important;
  color: #c09700 !important;
}

.generate-bracket-button.ant-btn-primary {
  background-color: green !important;
  border-color: green !important;
  color: #fff !important;
}

.generate-bracket-button.ant-btn-disabled,
.generate-bracket-button:disabled {
  background-color: #ababab !important;
  border-color: #ababab !important;
  color: #fff !important;
  opacity: 1 !important;
  text-decoration: line-through;
  text-decoration-color: red;
}

.anticon.anticon-trophy {
  color: #c09700;
  cursor: pointer;
  font-size: 14px;
}

.champ-logo {
  position: relative;
  top: 2px;
  width: 1.466rem;
  height: 3.33rem;
}

.match-row.final-row {
  position: relative;
}

.champion-text {
  margin-top: 25px;
  color: #c09700;
}

.infoCircle:hover {
  color: #c09700 !important;
}

#add-player-button {
  background-color: #000;
  border: 1px solid #c09700;
  color: white;
}

#add-player-button:hover {
  background-color: green;
  border: 1px solid green;
}

.whoPlaying-title {
  color: #c09700;
  margin-top: 0px;
  font-family: "Roboto", sans-serif;
  padding: 10px;
  padding-bottom: 0px;
  font-size: 40px;
  font-weight: bold;
}

.summary-modal .ant-modal-content {
  background: linear-gradient(#000 0%, #1d1d1d 50%, #000 100%);
  background-color: black;
  color: #ffffff !important;
  font-family: sans-serif !important;
  line-height: 1.6 !important;
  padding: 2rem !important;
  border: 1px solid #6e6e6e !important;
  box-shadow: 0 0px 10px #00ffcc !important;
  min-height: 700px;
}

.summary-modal .ant-modal-header {
  background: none;
  border-bottom: none;
}

.summary-modal .ant-modal-close {
  color: #333;
}

.summary-modal .ant-modal-close:hover {
  color: #ffffff;
}

.summary-content {
  font-size: 17px;
  line-height: 1.6;
  color: #000000;
  background-color: rgb(217, 217, 217);
  border-radius: 5px;
  padding: 5px;
}

.summary-wrapper {
  position: relative;
  overflow: hidden;
  height: auto;
}

.fade-in {
  opacity: 0;
  animation: fadeIn 2s ease-in forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translatey(600px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.loader-container {
  width: 500px;
  height: 500px;
  position: relative;
  margin: 0 auto;
}

.loader-orbit {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  animation: rotateOrbit 2s linear infinite;
  transform-origin: center;
}

/* .loader-dot {
  width: 30px;
  height: 30px;
  background-color: #00ffcc;
  border-radius: 50%;
  box-shadow: 0 0px 10px 5px #00ffcc;
  animation: pulse 3s ease-in-out infinite;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
} */

.loader-dot {
  width: 30px;
  height: 30px;
  background: radial-gradient(
    circle at center,
    #00ffcc 0%,
    #00ffccaa 40%,
    transparent 70%
  );
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  animation: pulse 3s ease-in-out infinite;
  box-shadow: 0 0 20px #00ffcc, 0 0 40px #00ffcc88, 0 0 60px #00ffcc44;
}

.loader-trail {
  width: 30px;
  height: 30px;
  background: linear-gradient(to bottom, #00ffccaa 0%, transparent 100%);
  position: absolute;
  top: 300px;
  left: 50%;
  transform: translateX(-100%);
  filter: blur(10px);
  opacity: 0.7;
}

.loader-trail2 {
  width: 30px;
  height: 30px;
  background: linear-gradient(to bottom, #00ffccaa 0%, transparent 50%);
  position: absolute;
  top: 200px;
  left: 50%;
  transform: translateX(100%);
  filter: blur(10px);
  opacity: 1;
}

.loader-text {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 24px;
  color: #555;
  z-index: 2;
}

@keyframes rotateOrbit {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 0.6;
  }
  25% {
    transform: scale(1.5);
    opacity: 1;
  }
  50% {
    transform: scale(0.5);
    opacity: 1;
  }
  75% {
    transform: scale(1.5);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 0.6;
  }
}
