.bracket-scroll-wrapper {
  width: 100%;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  background: linear-gradient(#000 0%, #1d1d1d 50%, #000 100%);
  background-color: black;
  height: calc(100vh);
}

.bracket-scroll-content {
  width: max-content;
}

.bracket-shell {
  background-color: transparent;
  color: #ddd;
  padding: 24px;
  font-family: sans-serif;
}

.header-row,
.match-row {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 200px;
  column-gap: 32px;
}

.round1-column {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.losers-headers {
  margin-top: 48px;
}

.column-header {
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  color: #aaa;
  margin-bottom: 16px;
}

/* each match “box” */
.match-cell {
  background: #2e2e3e;
  border-radius: 4px;
  padding: 8px;
  position: relative;
  min-height: 64px;
  max-height: 85px;
  box-shadow: 0 0 5px 0.01px #c09700;
}

.lower-match-col {
  height: 69px;
  margin-top: 50px;
}

.lower-match-col2 {
  height: 69px;
  margin-top: 100px;
}

.lower-match-col3 {
  height: 69px;
  margin-top: 150px;
}

.lower-match-col4 {
  height: 69px;
  margin-top: 200px;
}

.lower-match-col5 {
  height: 69px;
  margin-top: 250px;
}

.single-cell {
  height: 69px;
}

.match-cell.no-dash::after {
  display: none;
}

.match-cell::after {
  content: "→";
  position: absolute;
  top: 50%;
  right: -20px;
  transform: translateY(-50%);
  font-size: 16px;
  color: #fff;
  line-height: 1;
}

.match-cell.lower-line::after {
  content: "→";
  position: absolute;
  top: 80%;
  right: -20px;
  transform: translateY(-50%);
  font-size: 16px;
  color: #fff;
  line-height: 1;
}

.match-cell.lower-line.angle-down45::after {
  transform: translateY(-50%) rotate(45deg);
}

.match-cell.upper-line::after {
  content: "→";
  position: absolute;
  top: 20%;
  right: -20px;
  transform: translateY(-50%);
  font-size: 16px;
  color: #fff;
  line-height: 1;
}

.match-cell.upper-line.angle-up45::after {
  transform: translateY(-50%) rotate(-45deg);
}

.match-cell.upper-line.angle-up65::after {
  transform: translateY(-50%) rotate(-65deg);
}

.match-cell.upper-line.angle-up90::after {
  transform: translateY(-50%) rotate(-90deg);
}

.team-input {
  width: 100%;
  background: #3a3a4a;
  border: none;
  border-radius: 2px;
  color: #fff;
  padding: 4px 8px;
  margin-bottom: 4px;
  font-size: 13px;
  box-sizing: border-box;
  cursor: default;
}

.team-input:last-child {
  margin-bottom: 0;
}

.match-number {
  font-size: 13px;
  display: block;
  cursor: default;
}

.match-cell.placeholder {
  visibility: hidden;
}

.match-cell.placeholder::after {
  display: none;
}

.ant-checkbox-inner {
  background-color: #000 !important;
  border-color: #fff !important;
}

.ant-checkbox-checked .ant-checkbox-inner {
  background-color: #000 !important;
  border-color: #c09700 !important;
}

.ant-checkbox-checked .ant-checkbox-inner::after {
  border-color: #c09700 !important;
}

.ant-modal .ant-radio-inner {
  background-color: #fff !important;
  border-color: #000 !important;
}

.ant-modal .ant-radio-checked .ant-radio-inner {
  background-color: #000 !important;
  border-color: #c09700 !important;
}

.ant-modal .ant-radio-checked .ant-radio-inner::after {
  background-color: #c09700 !important;
}

.cancel-nvrmind-btn:hover {
  color: #c09700 !important;
  border: 1px solid #c09700 !important;
}

.anticon.anticon-trophy {
  color: #c09700;
  cursor: pointer;
  font-size: 14px;
}

.champ-logo {
  position: relative;
  top: 2px;
  width: 1.466rem;
  height: 3.33rem;
}

.match-row.final-row {
  position: relative;
}

.champion-text {
  margin-top: 25px;
  color: #c09700;
}

.infoCircle:hover {
  color: #c09700 !important;
}
