.reigning-champ-container {
  background-color: rgba(128, 128, 128, 0.2);
  border-radius: 15px;
}

.reigning-champ-image {
  background-image: url("/assets/erik_britt.png");
  background-size: cover;
  background-position: center;
  height: 35rem;
  width: 100%;
  border-radius: 15px;
}

.reigning-champ-title {
  color: rgb(175, 149, 1);
  -webkit-text-stroke: 0.2px black;
}

#doc-container {
  background-color: rgba(128, 128, 128, 0.2);
  border-radius: 15px;
  margin-bottom: 30px;
}

#doc-title {
  color: rgb(61, 128, 186);
  margin-top: 20px;
  font-family: "Roboto", sans-serif;
  padding: 10px;
  font-size: 40px;
  font-weight: bold;
}

video {
  max-width: 100%;
  height: auto;
  border-radius: 15px;
  box-shadow: 0 0 25px black;
}

@media (min-width: 375px) and (max-width: 991px) {
  .reigning-champ-image {
    background-position: top;
  }
}

@media (max-width: 370px) {
  #doc-title {
    font-size: 30px;
  }
}

@media (max-width: 275px) {
  #doc-title {
    font-size: 25px;
  }
}
