.got-it-btn {
  background-color: #c09700 !important;
  border: 1px solid #000 !important;
  color: #000;
}

.got-it-btn:hover {
  background-color: #000 !important;
  border: 1px solid #c09700 !important;
  color: #c09700 !important;
}
