.player-grid {
  display: grid;
  grid-template-columns: repeat(3, auto);
  justify-content: space-around;
  gap: 8px;
  padding: 10px;
  margin-bottom: 16px;
  border: 1px solid black;
  background: linear-gradient(
    30deg,
    #c09700 0%,
    #c09700 49.675%,
    #000 49.7%,
    #000 49.8%,
    white 49.825%,
    white 50%,
    #000 50.225%,
    #000 100%
  );
  border-radius: 7.5px;
}

.picker-glass {
  padding: 0.3em;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0);
  backdrop-filter: blur(4px);
  color: #fff;
  font-weight: bold;
}

.generate-bracket-button.ant-btn-primary {
  background-color: green !important;
  border-color: green !important;
  color: #fff !important;
}

.generate-bracket-button.ant-btn-disabled,
.generate-bracket-button:disabled {
  background-color: #ababab !important;
  border-color: #ababab !important;
  color: #fff !important;
  opacity: 1 !important;
  text-decoration: line-through;
  text-decoration-color: red;
}

#add-player-button {
  background-color: #000;
  border: 1px solid #c09700;
  color: white;
}

#add-player-button:hover {
  background-color: green;
  border: 1px solid green;
}
