.ant-menu-horizontal .ant-menu-item-selected,
.ant-menu-horizontal .ant-menu-item-selected::after,
.ant-menu-horizontal .ant-menu-item:hover::after,
.ant-menu-horizontal .ant-menu-item-active::after {
  color: white !important;
}

.header-menu .ant-menu-ink-bar {
  display: none !important;
  transition: none !important;
}

/* Hide all the ::after underlines (hover, active & selected) */
.header-menu .ant-menu-item::after,
.header-menu .ant-menu-item:hover::after,
.header-menu .ant-menu-item-active::after,
.header-menu .ant-menu-item-selected::after {
  display: none !important;
  transition: none !important;
}

.header-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 45px;
  z-index: 1000;

  /* margin-bottom: 20px; */
  background-color: rgb(61, 128, 186);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  box-shadow: 0px 0px 1px 1px rgb(61, 128, 186);
  font-weight: 600;
}
