#header-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  background-color: #f8f9fa;
  border-bottom: 1px solid #e9ecef;
}

#next-date {
  font-size: 1.5em;
  font-weight: bold;
  color: #333;
}

@media (max-width: 450px) {
  #next-date {
    font-size: 19px;
  }
}

@media (max-width: 400px) {
  #next-date {
    font-size: 17px;
  }
}

@media (max-width: 365px) {
  #next-date {
    font-size: 15px;
  }
}

@media (max-width: 330px) {
  #next-date {
    font-size: 13px;
  }
}

@media (max-width: 294px) {
  #next-date {
    font-size: 11px;
  }
}
