.timeline-page {
  padding-top: 17.5px;

  font-family: sans-serif;
  min-height: 100vh;

  background: linear-gradient(
    50.6deg,
    #c09700 0%,
    #c09700 49.675%,
    #000 49.7%,
    #000 49.8%,
    white 49.825%,
    white 50%,
    #000 50.225%,
    #000 100%
  );

  position: relative;
  z-index: 0;
}

#history-container {
  background-color: #c09700;
  border-radius: 15px;
  border: 1px solid #000;
}

.champ-title {
  color: #000;
  margin-top: 0px;
  font-family: "Roboto", sans-serif;
  padding: 10px;
  padding-bottom: 0px;
  font-size: 40px;
  font-weight: bold;
  border-radius: 15px 15px 0 0;
}

.champions-table {
  width: 100%;
  border-collapse: collapse;
  background-color: white;
  border-radius: 15px;
}

.champions-table td {
  text-align: center;
  vertical-align: middle;
  padding: 12px 8px;
  font-size: 15px;
}

.champions-table td:nth-child(1) {
  width: 45%;
  text-align: center;
}
.champions-table td:nth-child(3) {
  width: 45%;
  text-align: center;
}
.champions-table td:nth-child(2) {
  width: 10%;
  text-align: center;
}

.champ-trophy {
  color: #000 !important;
}

.champ-trophy {
  cursor: pointer;
  transition: transform 0.15s ease, color 0.15s ease;
}

.champ-trophy:hover {
  transform: scale(1.2);
}

.trophy-wrapper {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: #c09700;
  border: 1px solid black;
  border-radius: 50%;
  width: 24px;
  height: 24px;
}

.custom-modal .ant-modal-content {
  background-color: black;
  box-shadow: 0px 0px 10px #c09700;
}
.custom-modal .ant-modal-body {
  padding: 0;
  text-align: center;
}

@media (max-width: 727px) {
  .timeline-page {
    background: black;
  }

  #history-container {
    background-color: black;
  }

  .champ-title {
    color: #c09700;
  }

  .champions-table {
    width: 100%;
    border-collapse: collapse;
    background: linear-gradient(
      42deg,
      #c09700 0%,
      #c09700 49.675%,
      #000 49.7%,
      #000 49.8%,
      white 49.825%,
      white 50%,
      #000 50.225%,
      #000 100%
    );
    border-radius: 15px !important;
  }

  .champ-glass {
    display: inline-block;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0);
    backdrop-filter: blur(4px);
    color: #fff;
    font-weight: bold;
  }
}
