.doc-page {
  padding-top: 17.5px;

  font-family: sans-serif;
  min-height: 100vh;

  background: linear-gradient(
    50.6deg,
    #c09700 0%,
    #c09700 49.675%,
    #000 49.7%,
    #000 49.8%,
    white 49.825%,
    white 50%,
    #000 50.225%,
    #000 100%
  );

  position: relative;
  z-index: 0;
}

#doc-title {
  color: #c09700;
  margin-top: 0px;
  font-family: "Roboto", sans-serif;
  padding: 10px;
  padding-bottom: 0px;
  font-size: 40px;
  font-weight: bold;
}

video {
  max-width: 100%;
  height: auto;
  border-radius: 15px;
  box-shadow: 0 5px 25px black;
}

@media (max-width: 370px) {
  #doc-title {
    font-size: 30px;
  }
}

@media (max-width: 275px) {
  #doc-title {
    font-size: 25px;
  }
}
