#root {
  margin: 0 auto;
  padding: 0rem;
  text-align: center;
}

body,
html {
  margin: 0;
  padding: 0;
  max-width: 100vw;
}

html,
body,
#root {
  height: 100%;
  margin: 0;
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.app-content {
  flex: 1;
  margin-top: 64px;
}

.main-container {
  max-width: 600px;
  margin: 0 auto;
  position: relative;
}

.main-container::before {
  content: "";
  position: fixed;
  top: 0;
  bottom: 0;
  width: calc((100vw - 600px) / 2);
  background: linear-gradient(to right, #aedfff, white);
  z-index: 0;
  left: 0;
}

.main-container::after {
  content: "";
  position: fixed;
  top: 0;
  bottom: 0;
  width: calc((100vw - 600px) / 2);
  background: linear-gradient(to left, #aedfff, white);
  z-index: 0;
  right: 0;
}
